.navbar {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #1C1E53;
}
.navbar{
    display: none;
}
.edu a {
    position: absolute;
    left: 4.86%;
    right: 86.25%;
    top: 31.11%;
    bottom: 31.11%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.nav-menu {
    position: absolute;
    left: 600px;
    top: 30px;
    bottom: 36.67%;
}
img{
    width: 80%;
    display: flex;
    justify-content: center;
}

.nav-menu a {
    text-decoration: none;
    margin-right: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.card:hover{
        color: #9c8bd1;
        background-color: #0ecbff;
        transition: 0.3s;
        cursor: pointer;
        transform:scale(1.1)
      
      
      }
.detail{
    padding: 10px;
    margin-top: 5%;
    justify-content: center;
}
h5,h6{
    color: rgb(84, 84, 84);
}
.img-detail {
    width: 500px;
}
p, ul li{
    justify-content: center;
    text-align: left;
    color: rgb(93, 91, 91);
    width: 80%;
}
.desc {
    margin-top: 5%;
    justify-content: center;
    margin-left: 10%;  
}
.wm{
    position: absolute;
left: 5.14%;
right: 74.24%;
top: 1900px;
bottom: 5.91%;
width: 100%;
height: 40px;
}

.wm h1{
margin-top: 10px;
margin-right: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
display: flex;
justify-content: center;
letter-spacing: 0.005em;
}