@media (min-width: 700px) {
.navbar {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #1C1E53;
}


.edu a {
    position: absolute;
    left: 4.86%;
    right: 86.25%;
    top: 31.11%;
    bottom: 31.11%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.nav-menu {
    position: absolute;
    left: 600px;
    top: 30px;
    bottom: 36.67%;
}

.nav-menu a {
    text-decoration: none;
    margin-right: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.home {
    position: absolute;
    width: 100%;
    height: 579px;
    left: 0px;
    top: 90px;
    background-color: #1C1E53;
}

.text-home {
    position: absolute;
    width: 597px;
    height: 330px;
    left: 70px;
    top: 112px;
}

.text-home h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.text-home p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.text-home button {
    background: #FCD980;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    width: 185px;
    height: 54px;
    letter-spacing: 0.01em;
    color: #282938;
}

.right-pict {
    position: absolute;
    width: 577px;
    height: 370.97px;
    left: 700px;
    bottom: 116.03px;
    top: 92px;
}

.stat-partner {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 669px;
    background-color: #EEF4FA;
}

.stat {
    position: absolute;
    top: 75px;
    right: 954px;
    bottom: 80px;
    left: 70px;
}

.stat-1 {
    position: absolute;
    width: 123px;
    height: 69px;
}

.stat-1 p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 0px;
    color: #282938;
}

.stat-1 p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #282938;
    opacity: 0.7;
}

.stat-2 {
    position: absolute;
    width: 108px;
    height: 69px;
    margin-left: 40%;
}

.stat-2 p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 0px;
    color: #282938;
}

.stat-2 p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #282938;
    opacity: 0.7;
}

.stat-3 {
    position: absolute;
    width: 108px;
    height: 69px;
    margin-left: 72%;
}

.stat-3 p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 0px;
    color: #282938;
}

.stat-3 p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #282938;
    opacity: 0.7;
}

.partner {
    position: absolute;
    width: 500px;
    height: 34px;
    top: 90px;
    right: 76px;
    bottom: 79px;
    left: 530px;
}

.partner img {
    width: 150%;
}

.untung {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.008em;
    color: #282938;
    margin-bottom: 50px;
    margin-top: 10px;
}

.benefit {
    position: absolute;
    width: 100%;
    height: 850px;
    left: 10px;
    top: 1400px;

}

.aboutUs {
    position: absolute;
    width: 100%;
    height: 398px;
    left: 5px;
    top: 1000px;
}

.desc {
    position: absolute;
    width: 624px;
    height: 278px;
    left: 71px;
}

.desc h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 150%;
    letter-spacing: 0.008em;
    color: #232536;
}

.desc h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #232536;
    opacity: 0.87;
}

.desc p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #282938;
    opacity: 0.6;
}

.img-about {
    position: absolute;
    width: 575px;
    height: 398px;
    left: 850px;
}

.img-about img {
    width: 75%;
}

.footer {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 2100px;
    background-color: #1C1E53;
}

.footer h1 {
    position: absolute;
    left: 4.86%;
    right: 86.25%;
    top: 15.91%;
    bottom: 76.36%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.footer p {
    position: absolute;
    left: 4.86%;
    right: 72.43%;
    top: 32%;
    bottom: 62.95%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.9;
}

.list-contact {
    position: absolute;
    left: 45.25%;
    right: 100px;
    top: 14.55%;
    bottom: 52.73%;
    background-color: #FCD980;
}

.sosmed {
display: flex;
flex-direction:row-reverse;
margin-right: 250px;
margin-top: 40px;
}

.sosmed li{
    list-style-type: none  ;
    margin-bottom: 5px;
    text-decoration: none;
    color: #EEF4FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.sosmed li a{
    text-decoration: none;
    color: #EEF4FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.sosmed div{
    margin-left:40px;
}

.phone{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: #EEF4FA;
    width: 410px;
    height: 60px;
    background-color: #FCD980;
    top: 140px;
    left: 65px;
}

.phone ul{
    margin-top: 10px;
}

.phone li{
    list-style-type: none  ;
    margin-bottom: px;
    text-decoration: none;
    color: #EEF4FA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #282938;
}

.wm{
    position: absolute;
left: 5.14%;
right: 74.24%;
top: 2300px;
bottom: 5.91%;
width: 100%;
height: 40px;
}

.wm h1{
margin-top: 10px;
margin-right: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
display: flex;
justify-content: center;
letter-spacing: 0.005em;
}

.modal-header{
    background-color: #1C1E53;
}

.modal-header h5{
    color: #EEF4FA;
}

.modal-header button{
    color: #EEF4FA;
}

.add button{
    background-color: #FCD980;
    color:#282938;
}
/* responsif */
.navbar .navbar-expand-lg {
    display: none;
  }
  .container .content {
    display: none;
  }
  .keuntungan {
    display: none;
  }
  .navbar-expand-lg {
    display: none;
  }
  nav.navbar.bg-body-tertiary{
    display: none;
  }
  .about2 {
    display: none;
  }
  .content-slidee {
    display: none;
  }
  marquee {
    display: none;
  }
  .footer2 {
    display: none;
  }
}
@media (max-width: 700px) {
  .navbar-expand-lg {
    display: inline;
    background-color: #1c1e53;
    color: #2c2c60;
    margin: 0;
    padding: 0;
  }
  .navbar-brand {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-decoration: line-through #121212;
    pointer-events: none;
    animation: fadee 1s linear infinite;
  }

  @-webkit-keyframes fadee {
  }
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }

  @keyframes fadee {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 4;
    }
  }
  div.navbar {
    display: none;
  }
  .edu,
  .navbar .nav-menu {
    display: none;
  }

  .keuntungan {
    display: inline;
  }
  .aboutUs {
    display: none;
  }
  .wm {
    display: none;
  }
  .stat-partner {
    display: none;
  }
  .benefit {
    display: none;
  }
  .navbar .navbar-expand-lg {
    display: inline;
  }
  body {
    width: 100%;
    background: #1c1e53;
  }
  .footer {
    display: none;
  }
  .home {
    display: none;
  }

  .text-home {
    display: none;
  }
  .right-pict {
    display: none;
  }
  .navbar-nav {
    position: relative;
  }
  .collapse {
    position: relative;
  }
  .nav-link {
    color: #1c1e53;
    position: relative;
  }

  .container-fluid a {
    color: #eef4fa;
  }
  .aktif {
    position: relative;
    background-color: #041cfa;
  }
  .nav-item {
    position: relative;
    background-color: #3b3a3a;
  }

  div.container.box {
    /* display: inline; */
    width: 100%;
    height: 100%;
    background-color: #2e345b;
  }

  .modal > div {
    width: 90%;
    top: 20%;
  }
  .modal-body {
    font-size: 14px;
    width: 100px;
  }

  /* Slideshow container */
  .content-slidee {
    display: inline;
    position: relative;
    width: 100%;
  }

  .imgslide {
    display: none;
    width: 100%;
  }

  .gambar {
    vertical-align: middle;
    width: 100%;
    height: 300px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(120, 120, 120, 0.8);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
  }

  .text {
    color: #fafafa;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .content-slidee .numberslidee {
    color: #ffffff;
    padding: 30px;
    font-size: 12px;
    position: absolute;
    top: 0;
  }

  .fadee {
    -webkit-animation-name: fadee;
    -webkit-animation-duration: 1.5s;
    animation-name: fadee;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fadee {
  }
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }

  @keyframes fadee {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .container .pagee {
    text-align: center;
    padding-top: 20px;
  }

  .pagee .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
  }

  .pagee .active,
  .pagee .dot:hover {
    background-color: #ca0e0e;
    transition: 0.5s;
  }
  .container.content {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    display: inline;
    font-size: 14px;
    text-align: center;
    padding: 2px;
    height: 40%;
  }
  .container.content p {
    padding: 20px;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
  button.btn.btn-primary {
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fcd980;
    animation: fadee 1s linear infinite;

    border-radius: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    height: 54px;

    margin-top: 20px;
    /* margin-left: 25%; */
    letter-spacing: 0.01em;
    color: #282938;
  }

  h5 {
    color: #f4f4f4;
    text-align: center;
  }
  marquee {
    background-color: #1c1e53;
    display: inline-block;
    color: #bbb;
  }
  .about2 {
    display: inline;
  }
  .about2 {
    padding: 5%;
  }
  .card-text2 {
    font-size: 10px;
  }
  .textcontentabout {
    text-align: center;
  }
  .img-about2 img {
    width: 100%;
    padding: 10px;
  }
  .keuntungan .text-center {
    padding: 10px;
  }
  .footer2{
    display: flex;
    flex-direction: row;
  }
  .footer-content{
    align-items: center;

    justify-content: center;
    width: 50%;
    background-color: #1c1e53;
    color: #bbb;
  }
  .nav-item2{
    padding: 5px;
  }
  .nav-link2{
    color: #ffffff;
  }
  .phone2 {

    text-decoration: none;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    color: #121212;
    background-color: #dcb143;
  }
}

